.rootHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: rem(70px);
}

.header {
  padding: 5px;
  background-color: light-dark(#eeeef1, #161b22); /* hardcoded */
  border-bottom: 1px light-dark(#d8dee4, #2e3239) solid;
}

.inner {
  height: rem(70px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appTitle {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}