.markdownWrapper {
  width: 100%;
  padding: 0 25px 25px 25px;
  overflow-y: hidden;

  @media (max-width: 56.25em) {
    min-width: 100%;
    max-width: 100%;
  }
}

.input {
  background-color: light-dark(#D8DEE4, #2E3239);
  border-radius: var(--mantine-radius-md);
  z-index: 0;
}