.root {
  padding-top: rem(80px);
  padding-bottom: rem(120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.label {
  text-align: center;
  font-weight: 900;
  font-size: rem(220px);
  line-height: 1;
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  color: var(--mantine-primary-color-hover);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(120px);
  }
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: rem(38px);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }
}

.description {
  max-width: rem(540px);
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  color: var(--mantine-primary-color-hover);
}